<!DOCTYPE html>
<html>
<head>
    <title>ChatBot</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Chatbot</h1>
    <div>
        <button onclick="window.location.href='demo6.py'">ScienceBot</button>
        <button onclick="window.location.href='http://example.com/math_and_units_bot'">Unit and Math Bot</button>
        <button onclick="window.location.href='http://example.com/puzzlebot'">Puzzle Bot</button>
        <button onclick="window.location.href='http://example.com/gamebot'">Game Bot</button>
    </div>
</div>

</body>
</html>

